h1{
    font-weight: bold;
    text-align: center;
}
.a1{
    width: 1200px;
    height: 900px;
    background-color: black;
    margin: 0 auto;
}
.white{
    color: white;
    padding-top: 50px;
}
.o1{
    width: 1200px;
    height: 300px;
}
.o2{
    width: 1200px;
    height: 600px;
    background-color: green;

}

