*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    list-style-type: none;
}
body{
    background-color: rgb(165, 164, 164);
}
h1{
    font-weight: bold;
    text-align: center;
}
.Les8{
    padding-top: 100px;
}
.Foaw{
    padding-right: 80vh;
}
.blue{
    background-color: blue;

}  
